<div class="blogCard">
  <!-- put image link below -->

  <img class="pic" src="<%=blog.image_url%>" alt="<%= blog.title %>" />

  <div class="metadata">
    <a href="/blogs/<%= blog._id %>">
      <header>
        <%=blog.title%>
      </header>
    </a>

    <div class="pubdetails">
      <a href="/users/profile/<%=blog.author_id%>"><span class="author">
          <%= blog.author %>
        </span>
      </a>
      &middot;
      <span class="timestamp">
        <%= Intl.DateTimeFormat("en-in",{ year: 'numeric' , month: 'long' , day: 'numeric' , hour: '2-digit' ,
          timeZoneName: 'short' }).format(blog.publication_date) %>
      </span>
    </div>
  </div>
</div>
<style>
  header {
    font-size: x-large;
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
  }

  .blogCard {
    min-height: 40vh;
    max-height: 50vh;
    background-color: transparent;
    margin: 0.6rem;
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .blogCard .pic {
    width: 100%;
    flex-grow: 1;
    min-height: 268px;
    background-color: rgb(195, 195, 195);
    object-fit: cover;
    border-radius: 1rem;

  }

  .metadata {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* height: 20%; */
  }

  header {
    font-size: x-large;
  }

  a {
    color: #242424;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .metadata {
    font-weight: 700;
  }

  .pubdetails {
    font-size: 1em;
  }

  .author-link {
    text-decoration: none;
  }

  .author-link:hover {
    text-decoration: underline;
  }
</style>