<link rel="stylesheet" href="/styles/blogCard.css" />
<div class="blogCard">
  <!-- put image link below -->

  <img class="pic" src="<%=blog.image_url%>" alt="<%= blog.title %>" />

  <div class="metadata">
    <a href="/blogs/<%= blog._id %>">
      <header>
        <%=blog.title%>
      </header>
    </a>

    <div class="pubdetails">
      <a href="/users/profile/<%=blog.author_id%>"><span class="author">
          <%= blog.author %>
        </span>
      </a>
      &middot;
      <span class="timestamp">
        <%= Intl.DateTimeFormat("en-in",{ year: 'numeric' , month: 'long' , day: 'numeric' , hour: '2-digit' ,
          timeZoneName: 'short' }).format(blog.publication_date) %>
      </span>
    </div>
  </div>
</div>